@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>影片審核後臺</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
 <!-- /container -->
<div class="container">
    <form class="form-signin" id="formLogin">
        <h2 class="form-signin-heading">影片審核後臺管理系統</h2>
        <label for="txtName" class="sr-only">登入帳號</label>
        <input type="text" id="txtName" class="form-control" placeholder="請輸入登入帳號" required autofocus>
        <label for="txtPassword" class="sr-only">Password</label>
        <input type="password" id="txtPassword" class="form-control" placeholder="請輸入登入密碼" required>
        <a class="btn btn-lg btn-primary btn-block" href="#" id="btnLogin">Login</a>
    </form>
</div>
</body>
</html>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $("#btnLogin").click(function() {
        $.post("@Url.Action("Login")", {txtName:$("#txtName").val() ,txtPassword :$("#txtPassword").val()}, function(jsonObj) {
            switch (jsonObj.statu) {
                case "ok":
                    window.location.href = jsonObj.data;
                    break;
                case "err":
                    alert(jsonObj.msg);
                    break;
            }
        }, "json");
    });
</script>