@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="《霹靂無敵》遊戲官網|全台首款全3D霹靂手機遊戲|唯晶數位" />
    <meta name="description" content="《霹靂無敵》大霹靂國際集團正版授權，改編自風靡一時的霹靂兵燹劇集，全球首創3D動作指殺RPG手機遊戲，原汁原味的呈現霹靂經典場景與劇情，最道地的霹靂原音重現，豐富的遊戲及爽快的戰鬥畫面，完全滿足戲迷和玩家們的需求，並帶領玩家們一探霹靂的奇幻世界。" />
    <meta name="keywords" content="霹靂無敵,霹靂傳奇,霹靂布袋戲,霹靂,pili,金光,布袋戲,金光群俠傳,素還真,兵燹,炎熇兵燹,葉小釵,一頁書,天忌,風之痕,角色養成,RPG,手遊,手機遊戲,Google,指殺,3D,黃文擇,大霹靂,霹靂兵燹,可愛遊戲,Q版遊戲,3D遊戲,卡牌遊戲" />

    <title>霹靂無敵活動</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/freelancer.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">【霹靂無敵】創意無敵影片大賽</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">活動辦法</a>
                </li>
                <li class="page-scroll">
                    <a href="#joinWay">參賽方式</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">立即參加</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- 霹靂無敵影片競賽 -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">霹靂無敵影片競賽</span>
                    <hr class="star-light">
                    <span class="skills">
                            學富五車書天下，才子八音論武林!用數十載累積精粹而出的霹靂奇幻世界，這次將注入新血與KUSO，開發你的無敵創意與霹靂想像力!無論男女老少，不管八國語言，只要用你平時無從發揮的創意，做出夠酷夠炫夠爆笑夠感人的創意影片，並上線報名參與《霹靂無敵‧創意無敵影片大賽》，不僅贏取高額獎金，更有機會在官方頻道、電視節目中嶄露頭角，向世界展示你的霹靂武俠新世界!
                            若非影片製作高手也別驚!動動你的手指頭兒選出你最喜歡的作品，也有可能獲得威秀電影票!
                        </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- 活動方式 -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>活動方式</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>第一重：霹靂無敵玩家可利用CG影片為主進行創意影片製作。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>第二重：加入創意影片票選活動，有機會獲得威秀電影票一組兩張。</p>
            </div>
        </div>
    </div>
</section>

<!-- 參賽方式 -->
<section class="success" id="joinWay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>參賽方式</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Step1：於線上投稿時間內至活動報名頁面填妥資料，上傳參賽作品完成後，等候活動單位進行審核。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Step2：待活動單位於24小時內通知審核結果。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Step3：審核通過之作品將於網路票選時間內進行人氣投票與官方評選。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-danger">※每個遊戲帳號每天最多投3票，且單日不得重複投票。</p>
            </div>
        </div>
    </div>
</section>
<!-- 立即參加 -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>立即參加</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#divFormModal" class="btn btn-lg btn-default" data-toggle="modal">
                    <i class="fa fa-adjust"></i> 點我報名
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    唯晶數位 版權所有 Copyright &copy; 2016 Wegames Corporation. All Right Reserved
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
<!-- Modals -->
<div class="portfolio-modal modal fade" id="divFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div style="display: none; position: absolute; top: 70%; left: 50%; text-align: center; font-size: 24px; width: 600px; z-index: 999999; margin-top: -100px; margin-left: -300px; font-family: '微軟正黑體';" class="bb-alert alert alert-danger alert-dismissible fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span id="spanAlert">
                            刪除提醒
                        </span>
                    </div>
                    <div class="modal-body">
                        <h2>活動資料填寫</h2>
                        <hr class="star-primary">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>姓名</label>
                                    <input type="text" class="form-control" placeholder="姓名" id="pli_uName" required data-validation-required-message="請輸入您的作者名稱.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>暱稱</label>
                                    <input type="text" class="form-control" placeholder="暱稱" id="pli_gameId" required data-validation-required-message="請輸入您的作品名稱.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>手機號碼</label>
                                    <input type="text" class="form-control" placeholder="手機號碼" id="name" required data-validation-required-message="請輸入您的手機號碼.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="請輸入您的電子郵件.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>作品名稱</label>
                                    <input type="text" class="form-control" placeholder="作品名稱" id="email" required data-validation-required-message="請輸入您的作品名稱.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>作品簡要說明</label>
                                    <input type="text" class="form-control" placeholder="作品簡要說明" id="name" required data-validation-required-message="請輸入您的作品簡要說明.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>選取作品</label>
                                    <input type="file" title="選取作品" class="btn btn-info" id="file" required data-validation-required-message="請選取您的作品."/>
                                    <a class="btn btn-link" id="btnFile">上傳檔案</a>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls" style="display: inline">
                                    <label style="opacity: 10" for="agreebbrule"><input type="checkbox" id="agreebbrule" value="5479fd1a" name="agreebbrule" class="pc">同意參賽規則</label>

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg">確定報名</button>
                                    <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal">取消報名</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="divNoticeModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>參賽注意事項與活動注意事項</h2>
                        <hr class="star-primary">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h4>參賽注意事項</h4>
                            <p>我是參賽注意事項。</p>
                            <h4>活動注意事項</h4>
                            <p>我是活動注意事項。</p>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <button class="btn btn-success btn-lg" data-dismiss="modal">同意</button>
                            <button class="btn btn-warning btn-lg" data-dismiss="modal">不同意</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="~/Scripts/classie.js"></script>
<script src="~/Scripts/cbpAnimatedHeader.js"></script>
<!-- Contact Form JavaScript -->
<script src="~/Scripts/jqBootstrapValidation.js"></script>
<script src="~/Scripts/Pili.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Scripts/freelancer.js"></script>
<script src="~/Scripts/bootstrap.file-input.js"></script>
    <script src="~/Scripts/example.js"></script>
</body>
</html>
<script type="text/javascript">
    $(function () {
        Example.init(".bb-alert");
        $('input[type=file]').bootstrapFileInput();
        $("#btnFile").click(function () {
            var files = $('#file').get(0).files;
            var fileData = new FormData();
            fileData.append(files[0].name, files[0]);

            $.ajax({
                url: "@Url.Action("VideoUpload")",
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (jsonObj) {
                    switch (jsonObj.statu) {
                        case "ok":
                           // loadFile.GetFileList($("#WG_UId").val());
                            $('#file').val('');
                            break;
                        case "err":
                            Example.show(jsonObj.msg);
                            break;
                    }
                },
                error: function (err) {
                    Example.show(err.msg);
                }
            });
        });
        $('input[type="checkbox"]').on('change', function (e) {
            if (e.target.checked) {
                $('#divNoticeModal').modal();
            }
        });
    });
</script>